argcomplete==3.5.3
attrs==23.2.1.dev0
audioop-lts==0.2.1
audioread==3.0.1
Babel==2.15.0
better_exceptions==0.3.3
Brlapi==0.8.6
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
configobj==5.0.9
contourpy==1.3.1
cryptography==44.0.1
cycler==0.12.1
dbus-python==1.3.2
decorator==5.2.1
defusedxml==0.7.1
distro==1.9.0
dulwich==0.22.7
filelock==3.17.0
fonttools==4.56.0
gaphas==4.1.1
gaphor==2.27.0
generic==1.1.3
idna==3.10
importlib_metadata==7.2.1
jedi==0.19.2
joblib==1.4.2
kiwisolver==1.4.8
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.44.0
louis==3.32.0
matplotlib==3.10.1
msgpack==1.1.0
netifaces==0.11.0
netsnmp-python==1.0a1
numba==0.61.0
numpy==2.1.3
packaging==24.2
parso==0.8.4
pikaur==1.32
pillow==11.1.0
pipx==1.7.1
platformdirs==4.3.6
pooch==1.8.2
psutil==7.0.0
pwquality==1.4.5
pyalpm==0.10.6
pycairo==1.27.0
pycparser==2.22
pydot==3.0.1
PyGObject==3.50.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2025.1
pyxdg==0.28
requests==2.32.3
resampy==0.4.3
scikit-learn==1.6.1
scipy==1.15.2
setproctitle==1.3.4
six==1.17.0
soundfile==0.13.1
soxr==0.5.0.post1
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
terminator==2.1.4
threadpoolctl==3.6.0
tinycss2==1.4.0
typing_extensions==4.13.0
urllib3==2.3.0
userpath==1.9.2
validate==5.0.9
webencodings==0.5.1
wheel==0.45.0
zipp==3.21.0
